.loading-indicator {
    display: block;
    width: 70px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    z-index: 100;
    background-color: #FFF;
}

.loading-indicator img {
    width: 70px;
    background-color: #FFF;
}

.ui-view-placeholder {
    margin-top: 60px;
}

form input, button {
    color:#222;
}

form input {
    color:#222;
}

form .form-info {
    margin-top: 20px;
    border:1px solid #fff;
    padding:8px;
}
